build/
.tgitconfig
modules/python/src2/hdr_parser.pyc
*.o
samples/cpp/1_5_1/1_5_1
samples/cpp/1_5_2/1_5_2
samples/cpp/1_5_3/1_5_3
samples/cpp/1_5_4/1_5_4
samples/cpp/1_6_1/1_6_1
samples/cpp/3_1_8/3_1_8
samples/cpp/3_1_9/3_1_9
samples/cpp/3_2_1/3_2_1
samples/cpp/3_3/3_3
samples/cpp/4_3/4_3
samples/cpp/5_2_4/5_2_4
samples/cpp/5_3_3/5_3_3
samples/cpp/5_4_3/5_4_3
samples/cpp/5_5_8/5_5_8
samples/cpp/5_6_3/5_6_3
samples/cpp/5_6_4/5_6_4
samples/cpp/6_1_12/6_1_12
samples/cpp/6_2_5/6_2_5
samples/cpp/6_3_6/6_3_6
samples/cpp/6_4_9/6_4_9
samples/cpp/6_5_4/6_5_4
samples/cpp/6_6_7/6_6_7
samples/cpp/6_7_3/6_7_3
samples/cpp/7_1_6/7_1_6
samples/cpp/7_2_10/7_2_10
samples/cpp/7_3_3/7_3_3
samples/cpp/7_3_4/7_3_4
samples/cpp/10_1_5/10_1_5
samples/cpp/10_2_3/10_2_3
samples/cpp/10_3_3/10_3_3
samples/cpp/11_2_3/11_2_3
samples/cpp/11_3_3/11_3_3
samples/cpp/11_3_4/11_3_4
samples/cpp/11_4_3/11_4_3
samples/cpp/11_5_4/11_5_4
samples/cpp/7_4_5/7_4_5
samples/cpp/7_5_3/7_5_3
samples/cpp/8_1_4/8_1_4
samples/cpp/8_2_3/8_2_3
samples/cpp/8_2_4/8_2_4
samples/cpp/8_3_6/8_3_6
samples/cpp/8_4_4/8_4_4
samples/cpp/8_5_2/8_5_2
samples/cpp/8_6_2/8_6_2
samples/cpp/9_2_3/9_2_3
samples/cpp/9_2_4/9_2_4
samples/cpp/9_2_5/9_2_5
samples/cpp/9_3_2/9_3_2
samples/cpp/9_4_7/9_4_7
samples/cpp/9_5_3/9_5_3