build/
.tgitconfig
modules/python/src2/hdr_parser.pyc
*.o
samples/cpp/1_5_1/1_5_1
samples/cpp/1_5_2/1_5_2
samples/cpp/1_5_3/1_5_3
samples/cpp/1_5_4/1_5_4
samples/cpp/1_6_1/1_6_1
samples/cpp/3_1_8/3_1_8
samples/cpp/3_1_9/3_1_9
samples/cpp/3_2_1/3_2_1
samples/cpp/3_3/3_3
samples/cpp/4_3/4_3
samples/cpp/5_2_4/5_2_4
samples/cpp/5_3_3/5_3_3